.photo {
  width: 160px;
}

.containerBouton {
  text-align: center;
  margin-top: 6rem;
  font-family: 'Love Ya Like A Sister', cursive !important;
}

.buttonFinish {
  border-radius:50px !important;
  background-color:#811453 !important;
  font-size : 30px !important;
}

.containerTitle {
  text-align: center;
}

.containerPerson {
  margin-top: 3rem;
}
.h1 {
  font-family: 'Love Ya Like A Sister', cursive !important;
  color:white;
  font-size : 3rem;

}
.h2 {
  margin-top: 4rem !important;
  font-family: 'Love Ya Like A Sister', cursive !important;
  color: beige;
  font-size: 3rem;
}

.ContainerBody {
  background-image: url('https://images.unsplash.com/photo-1421284621639-884f4129b61d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  height:100vh;
  background-repeat: no-repeat;
}
